body {
    font-family: 'Roboto Condensed', serif;
  }
  .main {
    display: flex;
    justify-content: center;
  } 
  .color-guide {
    margin: 20px 40px;
  }
  h5 {
    margin-bottom: 10px;
    color: #184a46;
  }

.canvas {
  height: 200px;
  width: 200px;
  background-color: aqua;
}

  .user {
    padding: 7px 15px;
    border-radius: 4px;
    color: white;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    background: #184a46;
    margin: 10px 0;
  }
  .guest {
    background: #F0C987;
    color: white;
    text-align: center;
  }