@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }  


  .App {
    height: 100vh;
    display: flex;
    color: white;
  }
  
  .App__Aside {
    width: 45%;
    background-color: #184a46;
    Display: flex;
    Align-Items: center;
    Justify-Content: center;
  }
  
  .App__Form {
    width: 55%;
    background-color: white;
    padding: 25px 40px;
    overflow: auto;
  }
  
  .PageSwitcher {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20%;
  }
  
  .FormCenter {
    margin-bottom: 100px;
  }
  
  .FormTitle {
    color: rgb(0, 0, 0);
    font-weight: 300;
    margin-bottom: 50px;
  }
  
  .FormTitle__Link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    font-size: 1.0em;
    margin: 0 10px;
    padding-bottom: 5px;
  }
  
  .FormTitle__Link:first-child {
    margin-left: 0;
  }
  
  .FormTitle__Link--Active {
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 1.5em;
    border-bottom: 1px solid #184a46;
  }
  
  .FormField {
    margin-bottom: 20px;
  }
  
  .FormField__Label {
    display: block;
    text-transform: uppercase;
    font-size: .9em;
    color: black;
  }
  .FormField__Input {
    width: 70%;
    background-color: transparent;
    border: none;
    color: black;
    outline: none;
    border-bottom: 1px solid #184a46;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 7px;
  }
  
  .FormField__Input::placeholder {
    color: #616E7F;
  }
  
  .FormField__Button {
    background-color: #184a46;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 40px;
    font-size: 1em;
    font-weight: 500;
  }
  
  .FormField__Link {
    color: #66707D;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #225E62;
    padding-bottom: 5px;
  }
  
  .FormField__CheckboxLabel {
    color: #646F7D;
    font-size: .9em;
  }
  
  .FormField__Checkbox {
    position: relative;
    top: 1.5px;
  }
  
  .FormField__TermsLink {
    color: #66707D;
    border-bottom: 1px solid #199087;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 5px;
  }

.social_button {
  width: 55px;
  padding: 0px;
}

.txt_error {
  color: red;
  text-align: left;
}

.homepage_logo {
  width:50%;
}