.viewStickers {
    display: flex;
    border-top: 1px solid #e8e8e8;
    height: 100px;
    align-items: center;
    justify-content: space-around;
}

.imgSticker {
    width: 80px;
    height: 80px;
    object-fit: contain;
    position: relative;
}